name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: 0xAnthonyRx
          template: terminal            # <--- CHANGED: "terminal" looks cooler for Linux/DevSecOps
          config_timezone: Africa/Lagos
          base: header, activity, community, repositories, metadata
          plugin_languages: yes
          plugin_languages_ignored: >-
            html, css, Jupyter Notebook # <--- CHANGED: Hides Jupyter so Python shines
          plugin_languages_details: lines, percentage
          plugin_lines: yes             # <--- ADDED: Shows total lines of code (looks impressive)
